$primary-color: white;
$secondary-color: #f9f991;
$text-grey-400: #737b8a;
$text-grey-500: #8f99ab;

$background-color: #13151a;
$project-card-background: #283447;
$font-family: system-ui, sans-serif;
