$primary-color: white;
$secondary-color: rgb(94 234 212 / 1);
$text-grey-400: #737b8a;
$text-grey-500: #8f99ab;

$background-color: #13151a;
$project-card-background: #162236;
$font-family: system-ui, sans-serif;
