@import "./colors.scss";
@import "./texts.scss";

html {
  font-family: $font-family;
  background: $background-color;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateY(100px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.icon {
  width: 30px;
  height: 30px;
}
