@import "./colors.scss";
@import "./texts.scss";

html {
  font-family: $font-family;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
  background-size: 20px 20px;
}

body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateY(100px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.icon {
  width: 30px;
  height: 30px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  color: $secondary-color;
  transform: scale(1.1);
}

svg {
  fill: $primary-color;
  transform: scale(1.1);
  transition: all 0.5s;
}

svg:hover {
  fill: $secondary-color;
}
