<span>
  <slot />
</span>

<style lang="scss">
  span {
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
    font-weight: 200;
    border-radius: 9999px;
    line-height: 1.25rem;
    background-color: rgba(45, 212, 191, 0.1);
  }
</style>
