---
import ExperienceItem from "./ExperienceItem.astro";

const Experiencies = [
  {
    date: "February 2023 - February 2024",
    title: "FullStack Developer with Angular & .NET - Cargo Produce",
    tasks: [
      "Designed and implemented a module to automate the calculation of carbon footprint for container journeys upon arrival at their destination",
      "Collaborated with a team of 9 developers, following Agile methodologies with Jira for task management",
      "Utilized PostgreSQL with DBeaver for database management, including modifying and updating stored procedures in PL/SQL",
      "Analyzed user stories, provided time estimates, and reviewed code in pull requests to ensure quality and adherence to best practices",
    ],
  },
  {
    date: "March 2021 - February 2023",
    title: "FullStack Developer with Angular & .NET - Ingenea SRL",
    tasks: [
      "Builded a dashboard for customer’s projects displaying various types of charts, alerts, summaries, and project information using Angular and .NET",
      "Created a web application that also displays information about customer’s contracts with different indicators such as charts, alerts and spent budgets",
      "Participated in the development of an application for track and trace trucks via GPS using Google Maps API",
      "Worked with a team of 5 members with a team leader, using Kanban methodology with Taiga for task management",
    ],
  },
];
---

<div id="experience"></div>
<section class="hidden">
  <h2 class="text-secondary-color">Work experience</h2>
  <ol>
    {Experiencies.map((experience) => <ExperienceItem {...experience} />)}
  </ol>
</section>

<style>
  ol {
    list-style-type: none;
    position: relative;
    border-left: 1px solid #e5e7eb;
    padding-inline-start: 20px;
  }
</style>
