---
import ExperienceItem from "./ExperienceItem.astro";

const Experiencies = [
  {
    date: "February 2023 - February 2024",
    title: "FullStack Developer with Angular & .NET - Cargo Produce",
    tasks: [
      "Development and maintenance of new features for a global container tracking and location web application.",
      "Integration with external API to automatically calculate the carbon footprint emissions of container routes upon arrival at their destination.",
      "Analysis and estimation of user stories and tasks.",
      "Code review.",
    ],
  },
  {
    date: "March 2021 - February 2023",
    title: "FullStack Developer with Angular & .NET - Ingenea SRL",
    tasks: [
      "Development a dashboard web application for project visualization.",
      "Development of a web application for listing and managing project contracts",
      "Maintenance and improvement of APIs developed in .NET",
    ],
  },
];
---

<div id="experience"></div>
<section class="hidden">
  <h2 class="text-secondary-color">Work experience</h2>
  <ol>
    {Experiencies.map((experience) => <ExperienceItem {...experience} />)}
  </ol>
</section>

<style>
  ol {
    list-style-type: none;
    position: relative;
    border-left: 1px solid #e5e7eb;
    padding-inline-start: 20px;
  }
</style>
