<header>
  <nav>
    <a href="">Me</a>
    <a href="">Experience</a>
    <a href="">Projects</a>
    <a href="">Skills</a>
  </nav>
</header>

<style>
  header {
    height: 55px;
  }

  nav {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 6em;
  }

  a {
    color: white;
    text-decoration: none;
  }
</style>
