---
import Icon from "./Icon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import EmailIcon from "../icons/EmailLogo.astro";
---

<section>
  <h1>Hey, I'm <span class="text-secondary-color">Ignacio</span></h1>
  <p>
    I'm a System Engineer and Web Developer from Argentina with 3 years of
    experience building dynamic and user-friendly web applications.
  </p>

  <div>
    <Icon href="https://github.com/ignaciocaramuto">
      <GitHubIcon class="icon" />
    </Icon>
    <Icon href="https://www.linkedin.com/in/ignacio-caramuto-533013207">
      <LinkedInIcon class="icon" />
    </Icon>
    <Icon href="mailto:ignaciocaramuto@gmail.com">
      <EmailIcon class="icon" />
    </Icon>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 55px);
    justify-content: center;
    animation: fade-in linear forwards 1s;
  }

  h1 {
    text-align: center;
  }

  p {
    max-width: 700px;
    text-align: center;
  }

  div {
    display: flex;
    gap: 1em;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      filter: blur(3px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }

  @media (max-width: 390px) {
    h1 {
      font-size: 40px;
    }
  }
</style>
