---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "Armá tu banda - Search for bands and musicians",
    link: "https://66855c9b756ef11df921a077--elegant-froyo-6f1cca.netlify.app/",
    img: "../public/projects/armatubanda.webp",
    alt: "Screenshot of Armatubanda",
    description:
      "Armá tu banda is a platform that connects musicians and bands. It allows users to create public profiles, form bands, and search for musician using specific filters, helping both amateurs and professionals to network and collaborate",
    technologies: ["Angular", "Express", "MySQL"],
  },
];
---

<section id="projects" class="hidden">
  <h2 class="text-secondary-color">Projects</h2>
  {projects.map((project) => <ProjectCard {...project} />)}
</section>
