---
import Header from "../components/Header.astro";
import Me from "../components/Me.astro";
import Experience from "../components/Experience.astro";
import "../styles/global.scss";
---

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hidden");
  hiddenElements.forEach((el) => observer.observe(el));
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio of Ignacio Caramuto, Web Developer</title>
  </head>
  <body>
    <Header />
    <Me />
    <Experience />
  </body>
</html>
